.DS_Store
*.swp
*.log

.dart_tool/
.packages
build/
doc/api/
.flutter-plugins
.flutter-plugins-dependencies

.fvm/
!.fvmrc

node_modules/

.env*
!.env.example

*.iml
.idea/
.vscode/

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

**/*.dart.js
**/*.info.json
**/*.js.deps
**/*.js.map
